* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
    color: var(--second-color);
}

:root {
    --main-color: #1A1A1D;
    --second-color: #399918;
    --text-color: #FCF8F3;
    --input-color: #222225;

}

i {
    color: var(--second-color);
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    position: relative;
}

body {
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.header {
    width: 80%;
    min-height: 100vh;

}

.active {
    background-color: var(--main-color);
    border-bottom: var(--second-color) 1px solid;
}

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    padding-top: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 80%;
    margin: auto;
    transition: 0.4s;
    z-index: 500;
}

.links {
    display: flex;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 17px;
}

.navbar a:hover {
    color: var(--second-color);
    border-bottom: var(--second-color) 1px solid;
    letter-spacing: 1px;
}

.navbar a:active {
    color: var(--second-color);
    border-bottom: var(--second-color) 1px solid;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo h1 {
    font-size: 27px;
    letter-spacing: 3px;
    color: var(--second-color);
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.icon {
    display: flex;
    gap: 20px;
    z-index: -1;
}

.icon a {
    scale: 1.2;
}

.icon a:hover {
    color: var(--text-color);
    scale: 1.5;
}

h1 {
    color: var(--second-color);
    font-size: 65px;

}

h2 {
    color: var(--text-color);
    font-size: 55px;
}

h1,
h2 {
    line-height: 1.2;

    text-transform: capitalize;
}

p {
    text-transform: capitalize;
    opacity: 0.5;
    line-height: 1.2;
    font-size: 30px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 150px;

    .hero-text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 50%;

        #p {
            text-transform: capitalize;
        }
    }

    .hero-img {
        position: relative;
        border-radius: 50%;
        width: 40%;
        height: 450px;

        .circale {
            background-color: var(--second-color);
            z-index: -1;
            width: 100%;
            height: 290px;
            position: absolute;
            border-radius: 50%;
            transform: translateY(125px);

        }

        .img {
            width: 100%;
            overflow: hidden;
            border-radius: 50%;
            border-radius: 50%;
        }

        .img img {
            width: 100%;
            z-index: 1;
            position: absolute;
            transform: translateY(4px);
            animation: w 1s backwards;
        }
    }

}

@keyframes w {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }

}

.btns {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 15px;

    .btn-cv {
        text-transform: capitalize;
        border-bottom: 1px var(--text-color) solid;
        font-size: 15px;
        cursor: pointer;
        letter-spacing: 2px;
    }



}

a {
    text-decoration: none;
    color: var(--text-color);
}

.hire {
    background: var(--second-color);
    width: 100px;
    height: 35px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    p {
        color: var(--text-color);
        opacity: 1;
        text-align: center;
        font-size: 20px;
    }
}

.hire:hover {
    scale: 1.1;
}

.about {
    background-color: black;
    height: 800px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 80px;

    .about-text {
        width: 60%;
        padding-left: 80px;
        display: flex;
        flex-direction: column;
        gap: 90px;

        .text {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .skills {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px;

            h4 {

                font-size: 18px;
                width: 46%;
            }
        }
    }

    .about-img {
        background: url(img/Abdelrahman-bg.jpg) no-repeat center;
        width: 35%;
        height: 85%;
        margin-right: 50px;
        border-radius: 10px;
        transition: 1s ease-in-out;

    }
}

.about-img:hover {
    transform: scale(1.1);
}

.services {
    margin: 60px 0;

    h2 {
        width: 100%;
        display: flex;
        justify-content: center;


    }

    align-items: center;

    .service-text {
        display: flex;
        justify-content: space-between;

        h2 {
            font-size: 35px;
            margin: 10px 0;
        }

        p {
            font-size: 20px;
        }

        .boxs {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 30px;

        }
    }

    .service-text .box {
        transition: 0.3s ease-in-out;
        padding: 10px 5px;
        width: 30%;

        border-radius: 5px;
        gap: 15px;
        border: var(--main-color) 1px solid;
        box-shadow: 3px 3px 10px 7px rgba(0, 0, 0, 0.75);
        text-align: center;

        i {
            width: 100%;
            font-size: 60px;
            margin-top: 5px;
            transition: 0.3s ease-in-out;
        }

        .more {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;

            .hire {
                width: 40%;
                height: 50%;
                text-transform: capitalize;
            }
        }

    }

    .service-text .box:hover {
        border: var(--second-color) 1px solid;

        i {
            scale: 1.1;
        }

    }

}

.project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 200px 0;
    gap: 50px;

    h1 {
        font-size: 40px;

    }

    h2 {
        font-size: 35px;
    }

    p {
        font-size: 25px;
    }

    .boxs {
        display: flex;
        flex-direction: column;
        gap: 30px;



        .box.box2 {
            flex-direction: row-reverse;
        }

        .box {
            box-shadow: black 5px 0px 10px;
            display: flex;
            gap: 150px;
            align-items: center;
            width: 100%;
            border-radius: 15px;
            transition: 0.5s ease-in-out;
            height: 500px;
            padding: 0 10px;

            .text {
                span {
                    color: var(--text-color);
                    cursor: pointer;
                    transition: 0.2s ease-in-out;
                }

                span:hover {
                    color: var(--second-color);
                }

                .arrow {
                    background-color: var(--second-color);
                    border: #399918 1px solid;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    line-height: 50px;
                    rotate: 45deg;
                    cursor: pointer;
                    transition: 0.2s ease-in-out;

                }

                .arrow:hover {
                    scale: 1.1;
                }

                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                gap: 40px;
                justify-content: center;
            }

        }

    }
}

.top-project,
.top-content {

    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}

.box:hover {
    border: 1px solid var(--second-color);
    box-shadow: var(--second-color) 0px 0px 10px;
}

img {
    width: 50%;
    height: 90%;
    border-radius: 15px;
}

.content {
    display: flex;
    gap: 50px;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 200px;

    .icon-input {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px;

        .icons {
            width: 30%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 35px;


            a {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 15px;
                text-align: center;
                border-radius: 5px;
                position: relative;
                left: 0;
                transition: 0.2s ease-in-out;

            }

            a:hover {
                left: 20px;
            }

            i {
                width: 45px;
                height: 45px;
                line-height: 45px;
                line-height: 45px;
                font-size: 30px;
                border-radius: 5px;

                p {
                    font-size: 15px;
                    text-transform: lowercase;
                }
            }


        }

        form {
            width: 100%;

            table {
                height: 400px;
                width: 100%;

                td {
                    width: 40%;
                    margin: 3px 5px;
                }

                input,
                textarea {
                    width: 100%;
                    background: var(--input-color);
                    outline: none;
                    border-radius: 10px;
                    padding: 20px;
                    color: white;
                    border: var(--input-color);
                }

                input:hover,
                textarea:hover {
                    border: var(--second-color) 1px solid;
                    scale: 1.05;
                }


                textarea {
                    width: 100%;
                }
            }

        }

        .inputs {
            width: 60%;

            #submit {
                width: 200px;
                height: 50px;
                background-color: var(--second-color);
                font-size: 15px;
                text-align: center;
            }


        }
    }
}

/* .active-link{

} */

header .links img,
.close,
.icon-menu {

    display: none;
}

@media (max-width:1250px) {
    header {
        width: 90%;
    }

    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 45px;
    }

    .hero {
        margin-top: 70px;


    }

    .project {

        .text {
            padding: 0;
        }

        height: auto;


        img {
            height: 80%;
        }


        h2 {
            font-size: 20px;
        }

        p {
            font-size: 15px;
        }

    }
}

@media (max-width:1000px) {

    .hero {

        flex-direction: column;
        gap: 10px;
        width: 100%;
        height: auto;

        padding: 40px 40px;

        .hero-text {
            text-align: center;
            width: 100%;
            font-size: 30px;

            p {
                font-size: 20px;
                margin: 30px auto;
            }

            .btns {
                justify-content: center;
            }

        }

        .hero-img {
            width: 70%;

            img {
                width: 100%;
            }
        }
    }

    .about {
        padding: 30px 10px;
        flex-direction: column;
        gap: 50px;
        width: 100%;
        height: auto;

        .about-img {
            width: 100%;
        }

        .hire {
            font-size: 15px;
        }

        .about-text {
            width: 100%;
        }

        .about-img {
            width: 50%;
            height: 500px;
        }
    }

    header .icon {
        .icon-menu {
            display: block;
        }
    }

    header .links {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        padding: 50px 0;
        width: 400px;
        background-color: var(--main-color);
        height: 100%;
        border-right: var(--input-color) 1px solid;
        text-align: center;
        gap: 60px;
        left: -400px;
        transition: 0.3s ease-in-out;

        img {
            display: inline;
            width: 70px;
            height: 50px;

        }

        .close {
            display: flex;
            justify-content: space-between;
            width: 150px;
            height: 50px;
            position: absolute;
            padding: 40px;
            right: 0;
            top: 0;
            font-size: 30px;
            cursor: pointer;
            display: block;
        }
    }

    header .links.active-link {
        left: 0;
    }

    .services {
        h1 {
            font-size: 50px;
        }

        h2 {
            font-size: 40px;
        }

        p {
            font-size: 20px;
        }

        .service-text .boxs .box {
            width: 47%;
            margin-bottom: 40px;
        }
    }

    .icon-input {
        flex-direction: column;
        gap: 30px;

        .inputs {
            width: 100% !important;
        }
    }

    .icon-input .icons {
        min-width: 100%;
        flex-wrap: wrap;
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: space-between;

        a {
            width: 47% !important;
            font-size: 17px;

        }
    }


}

@media (max-width:680px) {
    .project {
        margin: 30px 0;


        .box2 {
            flex-direction: column !important;
            gap: 20px !important;


        }

        .boxs .box {
            flex-direction: column;
            gap: 20px !important;
            height: auto;
            margin: 0;

            .text {
                width: 100% !important;
                margin-left: 30px;

            }

            img {
                width: 90%;
                margin: 30px 0;
            }
        }
    }
}

@media (max-width:500px) {
    header{
        margin-bottom: 0px;
    }
    .hero {

        flex-direction: column;
        gap: 10px;
        width: 100%;
        height: auto;
        margin-top: 0px;

        .hero-img {
            width: 100%;
        }




        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 35px;
        }

        p {
            font-size: 15px;
        }

        .hero {
            margin-top: 50px;


        }

        .btns {
            justify-content: center;
        }


    }



    .about {
        flex-direction: column;
        width: 100%;
        padding: 0%;

        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 15px;
        }

        flex-direction: column;
        gap: 15px;

        .about-img {
            width: 100%;
            padding: 0%;
        }

        .hire {
            font-size: 10px;
        }

        .about-text {
            width: 100%;
            padding: 10px 10px;
        }

        .about-img {
            display: none;
        }

        .skills {
            h4 {

                width: 100%;
            }

            flex-direction: column;
            gap: 15px;
        }
    }

    header .navbar {
        .logo h1 {
            font-size: 18px;
            letter-spacing: 1px;
        }

        gap: 5px;
    }

    header .icon {

        a,
        span {
            font-size: 10px;
            gap: 2px;
        }

        span i {
            margin-left: 0px;

            font-size: 19px;
        }

        .icon-menu {
            display: block;
            margin-left: 7px;
            font-size: 10px;
        }




    }

    .services {
        h2 {
            font-size: 30px;
        }

        .boxs {
            flex-direction: column;
            gap: 10px;
            width: 100% !important;

            .box {
                width: 100% !important;



            }
        }
    }

    .hero {
        width: 100%;

        .hero-text {
            width: 100%;

            h1 {
                font-size: 30px;
            }

            h2 {
                font-size: 20px;
            }
        }

        margin-top: 70px;


    }

    .content {
        .top-content {
            h2 {
                font-size: 30px;
            }
        }

        margin-top: 30px;

        .icon-input .icons {
            flex-direction: column !important;
            gap: 20px;
            width: 100%;

        }

        #submit {
            width: 100px !important;
            height: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px !important;
        }
    }
}

::-webkit-scrollbar {
    width: 20px;
    /* عرض الشريط */

    /* ارتفاع الشريط */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* لون الخلفية */
    border-radius: 10px;
    /* الزوايا */
}

::-webkit-scrollbar-thumb {
    background: var(--second-color);
    /* لون المقبض */
    border-radius: 10px;
    /* زوايا مستديرة */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* لون عند التمرير */
}